:root {
    --md-primary-fg-color: #B03931;
    --md-primary-fg-color--light: #B03931;
    --md-primary-fg-color--dark: #98312A;
    --md-accent-fg-color: #742620;

    --md-default-fg-color: rgba(0, 0, 0, 0.93);
    --md-default-fg-color--light: rgba(0, 0, 0, 0.8);
    --md-default-fg-color--lighter: rgba(0, 0, 0, 0.12);
    --md-default-fg-color--lightest: rgba(0, 0, 0, 0.07);
}

.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header__button.md-logo :is(img, svg) {
    height: 40px;
    width: initial;
}

.md-header__title {
    height: 40px;
    line-height: 40px;
}

.md-search {
    padding: 0;
}

.md-search__form {
    background-color: white;
}

.md-search__form:hover {
    background-color: #ebebeb;
}

.md-search {
    color: var(--md-default-fg-color);
}

.md-search__input+.md-search__icon {
    color: inherit;
}

.md-search__input::placeholder {
    color: var(--md-default-fg-color);
}

.col_lg {
    color: #40af00;
}

.col_dg {
    color: #006300;
}

.col_lp {
    color: #df34df;
}

.col_dp {
    color: purple;
}

.col_lb {
    color: #427eff;
}

.col_db {
    color: #3e17e9;
}

:root {
    --md-admonition-icon--cli: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13,19V16H21V19H13M8.5,13L2.47,7H6.71L11.67,11.95C12.25,12.54 12.25,13.5 11.67,14.07L6.74,19H2.5L8.5,13Z"/></svg>')
}

.md-typeset .admonition.cli,
.md-typeset .admonition.cli .admonition-title,
.md-typeset details.cli {
    border-color: #333333;
}

.md-typeset .cli>.admonition-title {
    font-weight: normal;
    font-feature-settings: "kern";
    font-family: var(--md-code-font-family);
}

.md-typeset .cli>.admonition-title,
.md-typeset .cli>summary {
    background-color: rgba(0, 0, 0, 0.05);
}

.md-typeset .cli>.admonition-title::before,
.md-typeset .cli>summary::before {
    background-color: #333333;
    -webkit-mask-image: var(--md-admonition-icon--cli);
    mask-image: var(--md-admonition-icon--cli);
}

.md-content a {
    text-decoration: underline;
}

html {
    font-size: 18.75px;
}

.md-typeset dd {
    margin-top: 0;
}